.profile-wrapper
	display: flex
	flex-direction: column
	align-items: center
	padding: 100px
	width: 100%

	.user-info-container
		width: 400px
		background: #fff
		border-radius: 12px
		display: flex
		flex-direction: column
		align-items: center
		gap: 20px
		padding: 25px

		button
			width: 100%

		.user-avatar
			width: 120px
			height: 120px

		.row
			width: 100%

		.btns-container
			display: flex
			gap: 10px
			width: 100%

			button
				font-size: 20px
