.mortgage-list-wrapper
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	padding: 100px 10%
	flex-direction: column
	gap: 25px

	.mortgage-item
		display: flex
		flex-direction: column
		background: #fff
		padding: 20px
		border-radius: 12px
		gap: 25px
		width: 750px

		.top-container
			width: 100%
			display: flex
			align-items: center
			gap: 15px

			img
				width: 35px
				height: 35px

			.info-container
				display: flex
				flex-direction: column
				gap: 5px

				span
					color: #333
					font-weight: bold

				p
					color: #848484

		.middle-container
			display: flex
			gap: 50px

			.block
				display: flex
				flex-direction: column
				gap: 10px

				.block-title
					color: #848484

				.block-value
					color: #333


